@font-face {
    font-family: "MazzardL";
    src: url("./fonts/MazzardL-Regular.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "MazzardL";
    src: url("./fonts/MazzardL-SemiBold.otf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "MazzardL";
    src: url("./fonts/MazzardL-Bold.ttf") format("truetype");
    font-weight: 900;
}

:root {
    --text-color: #1d263a;
    --beige-color: #fae2da;
    --orange-color: #ff794d;
    --white-color: #fff;
    --green-color-25: #d6ebe4;
    --green-color-100: #20bfa9;
    --blue-color-25: #ebf5ff;
    --grey-color-25: #f9fafb;
    --grey-color-50: #dfdfdfb3;
    --grey-color-100: #dfdfdf7c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MazzardL";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 0;
}

.heading-1 {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 900;
    line-height: 66px;
}

.heading-3 {
    color: var(--text-color);
    font-size: 50px;
    font-weight: 900;
    line-height: 54px;
}

.heading-4 {
    color: var(--text-color);
    font-size: 36px;
    font-weight: 900;
    line-height: 46px;
}

.heading-6 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}

.text-md {
    color: var(--text-color);
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-lg {
    color: var(--text-color);
    opacity: 0.6;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.uppercase-text-1 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 4px;
}

.uppercase-text-2 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 900;
    line-height: 22px;
    letter-spacing: 4px;
}

.orange-line {
    background-color: var(--orange-color);
    display: inline-block;
    vertical-align: super;
    width: 40px;
    height: 4px;
    border-radius: 8px;
    margin-right: 25px;
}

.white-line {
    background-color: var(--white-color);
    display: inline-block;
    vertical-align: super;
    width: 40px;
    height: 4px;
    border-radius: 8px;
    margin-right: 25px;
}
