@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format (truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format (truetype);
    font-weight: 600;
}
