@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format (truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format (truetype);
    font-weight: 600;
}

:root {
    --text-color: #1d263a;
    --beige-color: #fae2da;
    --orange-color: #ff794d;
    --white-color: #fff;
    --light-green-color: #d6ebe4;
    --light-blue-color: #ebf5ff;
    --light-grey-color: #f9fafb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MazzardL", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 0;
}

.heading-1 {
    color: var(--text-color);
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
}

.heading-3 {
    color: var(--text-color);
    font-size: 42px;
    font-weight: 600;
    line-height: 52px;
}

.heading-6 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.text-md {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.text-lg {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.uppercase-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 6px;
}

/* Header */

#header {
    height: 110px;
}

.logo {
    width: 10%;
    height: 28px;
}

.navigation {
    padding: 40px 152px;
    text-align: center;
}

.navigation__links {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
}

.navigation__links li {
    display: inline-block;
}

.navigation__links li:not(:last-child) {
    margin-right: 50px;
}

.navigation__links li a,
.navigation a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.navigation a {
    vertical-align: top;
    width: 10%;
}

/* Hero Section */

.hero-section__card {
    background-color: var(--beige-color);
    border-radius: 30px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 100px;
}

.hero-section__left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 616px;

    position: relative;
}

.hero-section__left .cicle {
    height: 310px;
    position: absolute;
    top: 146px;
    right: 0;
}

.hero-section__left .chair {
    height: 525px;
    width: auto;
    position: absolute;
    top: 75px;
    right: 38px;
}

.hero-section__right {
    display: inline-block;
    vertical-align: top;

    padding: 130px 80px;
}

.uppercase-text.text-top {
    color: var(--orange-color);
}

.hero-section__right h1 {
    margin-top: 34px;
    margin-bottom: 28px;
}

.hero-section__right p {
    margin-bottom: 58px;
}

.hero-section__right .line {
    margin-right: 24px;
}

/* Features Section */

.features-section {
    padding: 0 152px;
    margin-bottom: 100px;
}

.features-section .feature:not(:last-child) {
    margin-right: 60px;
}

.feature {
    width: calc((100% - 120px) / 3);
    display: inline-block;
    vertical-align: top;
}

.feature-icon,
.feature-text {
    display: inline-block;
    vertical-align: top;
}

.feature-icon {
    margin-right: 36px;
}

.ellipse {
    position: relative;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.ellipse.shape-1 {
    background-color: var(--light-green-color);
}

.ellipse.shape-2 {
    background-color: var(--beige-color);
}

.ellipse.shape-3 {
    background-color: var(--light-blue-color);
}

.ellipse .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heading-6 {
    margin-bottom: 10px;
}

/* Designs Section */

.designs-section {
    padding: 0 152px;
    margin-bottom: 140px;
    position: relative;
}

.designs-section .heading-3 {
    margin-bottom: 46px;
}

.arrows {
    position: absolute;
    top: 16px;
    right: 152px;
}

.arrow-right,
.arrow-left {
    width: 25px;
    height: 20px;
}

.arrow-right {
    margin-right: 15px;
}

.design-card {
    display: inline-block;
    vertical-align: top;
    height: 680px;
    width: calc((100% - 40px) / 3);
}

.designs-section .design-card:not(:last-child) {
    margin-right: 20px;
}

.design-img {
    height: 680px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#design-last-card {
    position: relative;
}

.design-inner-card {
    padding: 20px;
    width: 80%;
    height: 115px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0px 34px 50px 0px rgba(0, 0, 0, 0.15);

    position: absolute;
    left: 16px;
    bottom: 16px;
}

.design-inner-card span {
    color: var(--orange-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
}

#inner-card-text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 10px;
}

.design-inner-card img {
    position: absolute;
    width: 20px;
    right: 24px;
    bottom: 24px;
}
