@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-Regular.otf) format (truetype);
    font-weight: 400;
}

@font-face {
    font-family: MazzardL;
    src: url(./fonts/MazzardL-SemiBold.otf) format (truetype);
    font-weight: 600;
}

:root {
    --text-color: #1d263a;
    --beige-color: #fae2da;
    --orange-color: #ff794d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "MazzardL", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

/* Header */

#header {
    height: 110px;
}

.logo {
    height: 28px;
}

.navigation {
    padding: 40px 152px;
    text-align: center;
}

.navigation__links {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    align-items: center;
}

.navigation__links li {
    display: inline-block;
}

.navigation__links li:not(:last-child) {
    margin-right: 50px;
}

.navigation__links li a,
.navigation a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.navigation a {
    vertical-align: top;
    width: 10%;
}

/* Hero Section */

.hero-section__card {
    background-color: var(--beige-color);
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 30px;
}

.hero-section__left {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 616px;

    position: relative;
}

.hero-section__left .cicle {
    height: 310px;
    position: absolute;
    top: 146px;
    right: 0;
}

.hero-section__left .chair {
    height: 525px;
    width: auto;
    position: absolute;
    top: 75px;
    right: 38px;
}

.hero-section__right {
    display: inline-block;
    vertical-align: top;

    padding: 130px 80px;
}

.hero-section__right .text-top {
    color: var(--orange-color);
}

.hero-section__right span {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 6px;
}

.hero-section__right h1 {
    color: var(--text-color);

    display: flex;
    width: 659px;
    flex-direction: column;
    flex-shrink: 0;

    margin-top: 34px;
    margin-bottom: 28px;
    font-size: 60px;
    font-weight: 600;
    line-height: 66px;
}

.hero-section__right p {
    display: flex;
    width: 495px;
    flex-direction: column;
    flex-shrink: 0;

    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 58px;
}

.hero-section__right .line {
    margin-right: 24px;
}
